.c87 {
    padding: 1pt 5pt 1pt 5pt;
    border-bottom-color: #999999;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #999999;
    vertical-align: top;
    border-right-color: #999999;
    border-left-width: 1pt;
    background-color: #d9d9d9;
    border-bottom-width: 1pt;
    width: 433.5pt;
    border-top-color: #999999;
}

.c81 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #e6b8af;
    border-left-style: solid;
    border-bottom-width: 1pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c58 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    background-color: #fff2cc;
    border-left-style: solid;
    border-bottom-width: 1pt;
    border-top-color: #000000;
    border-bottom-style: solid;
}

.c13 {
    /* border-right-style: solid; */
    padding: 1pt 5pt 1pt 5pt;
    border-bottom-color: #999999;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #999999;
    vertical-align: top;
    border-right-color: #999999;
    border-left-width: 1pt;
    /* border-top-style: solid; */
    background-color: #d9d9d9;
    /* border-left-style: solid; */
    border-bottom-width: 1pt;
    width: 500px;
    border-top-color: #999999;
    /* border-bottom-style: solid; */
}

.c86 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 174.8pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c77 {
    border-right-style: solid;
    padding: 0pt 5.4pt 0pt 5.4pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 424.7pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c40 {
    border-right-style: solid;
    padding: 1.4pt 1.4pt 1.4pt 1.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 75pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c12 {
    border-right-style: solid;
    padding: 1.4pt 1.4pt 1.4pt 1.4pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 349.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c78 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 129.8pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c69 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 248.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c18 {
    border-right-style: solid;
    padding: 0.7pt 0.7pt 0.7pt 0.7pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 129.8pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c37 {
    border-right-style: solid;
    padding: 0.7pt 0.7pt 0.7pt 0.7pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 131.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c64 {
    border-right-style: solid;
    padding: 0.7pt 0.7pt 0.7pt 0.7pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 164.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c82 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 249.8pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c17 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 131.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c25 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 181.5pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c90 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 164.2pt;
    border-top-color: #000000;
    border-bottom-style: solid
}

.c10 {
    margin-left: 72pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    orphans: 2;
    widows: 2;
    text-align: left;
    margin-right: -2.7pt
}

.c4 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c46 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c0 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    orphans: 2;
    widows: 2;
    text-align: left;
    margin-right: -2.7pt;
}

.c3 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
}

.c44 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c8 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c9 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: monospace;
    font-style: normal;
}

.c22 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Consolas";
    font-style: normal
}

.c28 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
}

.c30 {
    padding-top: 0pt;
    padding-bottom: 8pt;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c56 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c38 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c34 {
    padding-top: 0pt;
    padding-bottom: 14pt;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

.c21 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    orphans: 2;
    widows: 2;
    text-align: left;
}

.c47 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c54 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
}

.c15 {
    padding-top: 0pt;
    padding-bottom: 8pt;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

.c16 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c73 {
    color: #2f5496;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c67 {
    padding-top: 0.5pt;
    padding-bottom: 0pt;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c79 {
    padding-top: 14pt;
    padding-bottom: 14pt;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c24 {
    padding-top: 0pt;
    padding-bottom: 8pt;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c31 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

.c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

.c48 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c53 {
    padding-top: 0.5pt;
    padding-bottom: 0pt;
    orphans: 2;
    widows: 2;
    text-align: right
}

.c55 {
    padding-top: 0.5pt;
    padding-bottom: 0pt;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c52 {
    padding-top: 0pt;
    padding-bottom: 14pt;
    orphans: 2;
    widows: 2;
    text-align: left;
}

.c42 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    orphans: 2;
    widows: 2;
    text-align: justify;
}

.c39 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c84 {
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial"
}

.c91 {
    padding-top: 12pt;
    padding-bottom: 0pt;
    page-break-after: avoid;
    text-align: left
}

.c41 {
    padding-top: 18pt;
    padding-bottom: 0pt;
    page-break-after: avoid;
    text-align: left
}

.c32 {
    padding-top: 14pt;
    padding-bottom: 14pt;
    page-break-after: avoid;
    text-align: left
}

.c88 {
    text-decoration: none;
    vertical-align: super;
    font-style: normal
}

.c72 {
    padding-top: 18pt;
    padding-bottom: 0pt;
    page-break-after: avoid;
    text-align: justify
}

.c74 {
    padding-top: 18pt;
    padding-bottom: 0pt;
    page-break-after: avoid;
    text-align: justify
}

.c92 {
    padding-top: 14pt;
    padding-bottom: 4pt;
    page-break-after: avoid;
    text-align: justify
}

.c29 {
    padding-top: 18pt;
    padding-bottom: 14pt;
    page-break-after: avoid;
    text-align: left
}

.c23 {
    padding-top: 14pt;
    padding-bottom: 0pt;
    page-break-after: avoid;
    text-align: justify
}

.c70 {
    padding-top: 18pt;
    padding-bottom: 0pt;
    page-break-after: avoid;
    text-align: left
}

.c27 {
    vertical-align: super;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline
}

.c83 {
    margin-left: -5.4pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c20 {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
    font-family: monospace;
    width: 800px;
    border: 1px solid #999999;
}

.c43 {
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline
}

.c85 {
    border: 1px solid #999999;
    margin-left: 1.5pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
    font-family: monospace;
    width: 600px;
}

.c68 {
    margin-left: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto
}

.c14 {
    color: inherit;
    text-decoration: inherit
}

.c50 {
    font-weight: 400
}

.c57 {
    color: #222222
}

.c11 {
    margin-left: 36pt;
    padding-left: 0pt
}

.c80 {
    width: 33%;
    height: 1px
}

.c59 {
    padding: 0;
    margin: 0
}

*/ .c93 {
    max-width: 425.2pt;
    padding: 70.8pt 85pt 70.8pt 85pt
}

.c36 {
    margin-left: 72pt;
    padding-left: 0pt
}

.c6 {
    height: 11pt
}

.c62 {
    font-weight: 400
}

.c66 {
    margin-right: -2.9pt
}

.c35 {
    font-style: italic
}

.c7 {
    font-weight: 700;
}

.c60 {
    margin-left: 35pt
}

.c19 {
    height: 0pt
}

.c61 {
    margin-right: -2.7pt
}

.c1 {
    background-color: #ffffff
}

.c89 {
    height: 27pt
}

.c26 {
    margin-left: 36pt
}

.c75 {
    height: 23pt
}

.no-padding {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

div.gist-it-gist {
    width: 100%px;
    font-size: 10pt;
}

/* Brat CSS here */

#svg {
    margin: 34px auto 100px;
    padding-top: 15px;
}

.center_wrapper {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.center_wrapper>div {
    display: table-cell;
    vertical-align: middle;
}

.center_wrapper>div>div {
    /* match jQuery UI .ui-widget-content color */
    color: #2e6e9e;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    font-size: 12px;
    font-family: 'Liberation Sans', Verdana, Arial, Helvetica, sans-serif;
}

.center_wrapper>div>div h1 {
    text-align: center;
    font-size: 14px;
}

#no_svg_wrapper {
    display: none;
}

svg {
    width: 100%;
    height: 1px;
    border: 1px solid #7fa2ff;
    font-size: 15px;
    /* font-size: 14px; */
}

svg.reselect {
    border: 1px solid #ff3333;
}

/* "basic" font */

text {
    font-size: 13px;
    font-family: 'Liberation Sans', Verdana, Arial, Helvetica, sans-serif;
}

@-webkit-keyframes pulse {
    0% {
        color: #9999ff;
        margin-top: 0;
    }
    50% {
        color: #ffffff;
        margin-top: 7px;
    }
    100% {
        color: #9999ff;
        margin-top: 0;
    }
}

path {
    pointer-events: none;
}

/* "basic" font */

.span text {
    /*  font-size: 10.5px; */
    font-size: 10px;
    text-anchor: middle;
    font-family: 'PT Sans Caption', sans-serif;
    pointer-events: none;
}

/* this should likely match span font */

.span_type_label {
    font-size: 11px;
    font-family: 'PT Sans Caption', sans-serif;
}

/* this should likely match arc font */

.arc_type_label {
    font-size: 11px;
    font-family: 'PT Sans Caption', sans-serif;
}

.attribute_type_label .ui-button-text {
    font-size: 11px;
    font-family: 'PT Sans Caption', sans-serif;
}

.span rect {
    stroke-width: 0.75;
}

.glyph {
    fill: #444444;
    font-family: sans-serif;
    font-weight: bold;
}

.attribute_warning {
    stroke: red;
}

.span rect.False_positive {
    stroke: #ff4141;
    stroke-width: 2;
}

.shadow_True_positive {
    fill: #00ff00;
}

.shadow_False_positive {
    fill: #ff4141;
}

#commentpopup.comment_False_positive {
    background-color: #ff4141;
}

.span rect.False_negative {
    stroke: #c20000;
    fill: #ffffff;
    stroke-width: 2;
}

.shadow_False_negative {
    fill: #c20000;
}

#commentpopup.comment_False_negative {
    background-color: #c20000;
}

.span rect.AnnotationError {
    stroke-width: 1;
}

.shadow_AnnotationError {
    fill: #ff0000;
}

#commentpopup.comment_AnnotationError {
    background-color: #ff7777;
}

.span rect.AnnotationWarning {
    stroke-width: 1;
}

.shadow_AnnotationWarning {
    fill: #ff8800;
}

#commentpopup.comment_AnnotationWarning {
    background-color: #ff9900;
}

.shadow_AnnotatorNotes {
    /* fill: #00cc00; */
    fill: #3ab7ee;
}

#commentpopup.comment_AnnotatorNotes {
    /* background-color: #00cc00; */
    /* background-color: #DAF7DC; */
    background-color: #d7e7ee;
}

.shadow_Normalized {
    /* fill: #00cc00; */
    fill: #3aee37;
}

#commentpopup.comment_Normalized {
    /* background-color: #00cc00; */
    /* background-color: #DAF7DC; */
    background-color: #d7eee7;
}

rect.Normalized {
    stroke-width: 1.5;
}

.shadow_AnnotationIncomplete {
    fill: #aaaaaa;
}

.span rect.AnnotationIncomplete {
    stroke: #002200;
    stroke-width: 0.5;
    fill: #ffffff;
}

#commentpopup.comment_AnnotationIncomplete {
    background-color: #ffff77;
}

.shadow_AnnotationUnconfirmed {
    fill: #eeeeee;
}

.span rect.AnnotationUnconfirmed {
    stroke: #002200;
    stroke-width: 0.5;
    opacity: 0.5;
}

#commentpopup.comment_AnnotationUnconfirmed {
    background-color: #ddddff;
}

.span rect.True_positive {
    /* stroke: #007700; */
}

rect.shadow_EditHighlight {
    fill: #ffff99;
}

.shadow_EditHighlight_arc {
    stroke: #ffff99;
}

.span path {
    fill: none;
}

.span path.curly {
    /* 'stroke' def here blocks 'stroke' set in JS..? */
    /* stroke: grey; */
    stroke-width: 0.5;
}

.span path.boxcross {
    stroke: black;
    opacity: 0.5;
}

.arcs path {
    stroke: #989898;
    fill: none;
    stroke-width: 1;
}

.arcs .highlight path {
    stroke: #000000;
    stroke-width: 1.5;
    opacity: 1;
}

.arcs .highlight text {
    stroke: black;
    fill: black;
    stroke-width: 0.5;
}

.span.highlight rect {
    stroke-width: 2px;
}

.span rect.reselect {
    stroke-width: 2px;
}

.span rect.reselectTarget {
    stroke-width: 2px;
}

.arcs .reselect path {
    stroke-width: 2px;
    stroke: #ff0000 !important;
}

.arcs .reselect text {
    fill: #ff0000 !important;
}

.span rect.badTarget {
    stroke: #f00;
}

.arcs text {
    font-size: 9px;
    text-anchor: middle;
    font-family: 'PT Sans Caption', sans-serif;
    /* dominant-baseline: central; */
    cursor: default;
}

.background0 {
    stroke: none;
    fill: #ffffff;
}

.background1 {
    stroke: none;
    fill: #eeeeee;
}

.backgroundHighlight {
    stroke: none;
    fill: #ffff99;
}

.sentnum text {
    fill: #999999;
    text-anchor: end;
}

.sentnum path {
    stroke: #999999;
    stroke-width: 1px;
}

.span_cue {
    fill: #eeeeee !important;
}

.drag_stroke {
    stroke: black;
}

.drag_fill {
    fill: black;
}

.dialog {
    display: none;
}

#span_free_div,
#arc_free_div {
    float: left;
}

fieldset {
    /* match relevant parts of jQuery UI .ui-widget-content */
    border: 1px solid #a6c9e2;
    /* round corners, same as jQuery UI .ui-corner-all */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    /* to prevent border from running into legend */
    margin-top: 5px;
}

fieldset legend {
    font-weight: bold;
    font-size: 90%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #70a8d2;
    color: white;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.label-like {
    /* for UI consistency, this should match the "fieldset legend" style;
      sorry about the duplication. */
    font-family: monospace;
    font-weight: bold;
    font-size: 90%;
    /* match jQuery UI .ui-widget-content color */
    color: #2e6e9e;
}

.accesskey {
    text-decoration: underline;
}

.shadow {
    -moz-box-shadow: 5px 5px 5px #444444;
    -webkit-box-shadow: 5px 5px 5px #444444;
    box-shadow: 5px 5px 5px #444444;
}

#span_selected,
#arc_origin,
#arc_target {
    font-weight: bold;
}

#commentpopup {
    font-family: 'Liberation Sans', Verdana, Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.95;
    padding: 10px;
    display: none;
    border: 1px outset #000000;
    background-color: #f5f5f9;
    /* background-color: #d7e7ee; */
    /* background-color: #eeeeee; */
    color: #000000;
    z-index: 20;
    -moz-box-shadow: 5px 5px 5px #aaaaaa;
    -webkit-box-shadow: 5px 5px 5px #aaaaaa;
    box-shadow: 5px 5px 5px #aaaaaa;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    max-width: 80%;
}

#more_info_readme {
    height: 350px;
}

#readme_container {
    position: relative;
}

#more_readme_button {
    padding: 2px 5px;
    position: absolute;
    top: -2px;
    right: -2px;
}

.comment_id {
    vertical-align: top;
    float: right;
    font-size: 75%;
    font-family: monospace;
    color: #333333;
}

.comment_type {
    /* font-weight: bold; */
}

.comment_text {
    font-weight: bold;
}

.comment_type_id_wrapper {
    /* padding for floating ID */
    padding-right: 2em;
}

.norm_info_label {
    font-weight: bold;
    font-size: 80%;
}

.norm_info_value {
    font-size: 80%;
}

.norm_info_img {
    float: right;
    margin-left: 1em;
}

#search_form select {
    width: 100%;
    /* deal with overflowing selectboxes */
}

.scroll_fset {
    height: 200px;
}

.scroll_fset fieldset {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* HACK to display <legend> properly */

.scroll_fset {
    margin-bottom: 2.5em;
}

.scroll_fset fieldset {
    padding-bottom: 2em;
}

/* end HACK */

.scroll_fset div.scroller {
    overflow: auto;
    width: 100%;
    height: 100%;
}

#span_highlight_link,
#arc_highlight_link,
#viewspan_highlight_link {
    float: right;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

@font-face {
    font-family: 'Liberation Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Liberation Sans'), local('Liberation-Sans'), url('static/fonts/Liberation_Sans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Sans Caption';
    font-style: normal;
    font-weight: normal;
    src: local('PT Sans Caption'), local('PTSans-Caption'), url('static/fonts/PT_Sans-Caption-Web-Regular.ttf') format('truetype');
}

/* Apple iPad, iPhone, iPod */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
    select: none;
}

.span rect.AddedAnnotation {
    stroke: #ff4141;
    stroke-width: 2;
}

.shadow_AddedAnnotation {
    fill: #ff4141;
}

#commentpopup.comment_AddedAnnotation {
    background-color: #ffcccc;
}

.span rect.MissingAnnotation {
    stroke: #ffffff;
    stroke-width: 2;
}

.shadow_MissingAnnotation {
    fill: #ff4141;
    opacity: 0.3;
}

#commentpopup.comment_MissingAnnotation {
    background-color: #ffcccc;
}

.span rect.MissingAnnotation+text {
    opacity: 0.5;
}

.span rect.ChangedAnnotation {
    stroke: #ffff99;
    stroke-width: 2;
}

.shadow_ChangedAnnotation {
    fill: #ff4141;
}

#commentpopup.comment_ChangedAnnotation {
    background-color: #ffcccc;
}